<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Birimumaaso_Rogers_Tech_Assessment/public/css/bootstrap-5.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Birimumaaso_Rogers_Tech_Assessment/public/css/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/Birimumaaso_Rogers_Tech_Assessment/public/css/studentreg.css">
</head>

<body>
    <div class="wrapper">
        <h2>Student Registration Form</h2>
        <form name="registration" method="#" action="#" enctype="multipart/form-data" id="regform">
            <div class="row">
                <div class="col-8">
                    <div class="input-group">
                        <h4>Sur name<span>*</span></h4>
                        <div class="input-box">
                            <input type="text" placeholder="Enter SurName" name="surname" class="name">
                            <i class="bx bx-user icon"></i>
                        </div>
                        <br><small id="sur-error"></small>
                    </div>
                    <div class="input-group">
                        <h4>Given name<span>*</span></h4>
                        <div class="input-box">
                            <input type="text" placeholder="Enter Given Name" name="givenname" class="name">
                            <i class="bx bx-user icon"></i>
                        </div>
                        <br><small id="giv-error"></small>
                    </div>
                    <div class="input-group" style="width: 200%;">
                        <h4>Title<span>*</span></h4>
                        <div class="input-box">
                            <select name="title">
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Miss</option>
                            <option>Dr.</option>
                            <option>Prof.</option>
                            <option>Eng.</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-4" id="imageupload">
                    <img id="blah" src="#" alt="Your Image" />
                    <input accept="image/*" type="file" id="imgInp" title="Upload Photo" name="upload" />
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <h4>Gender<span>*</span></h4>
                    <input type="radio" id="msex" name="gender" value="Male" checked class="radio">
                    <label for="msex">Male</label>
                    <input type="radio" id="fsex" name="gender" value="Female" class="radio">
                    <label for="fsex">Female</label>
                </div>
                <br><small id="gen-error"></small>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-box">
                            <h4>Date Of Birth<span>*</span></h4>
                            <input type="date" placeholder="" class="name" name="dob">
                        </div>
                        <br><small id="dob-error"></small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group" style="width: 200%;">
                        <h4>Country<span>*</span></h4>
                        <div class="input-box">
                            <select>
                                <option value="default" selected>--Select Country--</option>
                                <option>Uganda</option>
                                <option>Kenya</option>
                                <option>Tanzania</option>
                                <option>Rwanda</option>
                                <option>Burundi</option>
                            </select>
                        </div>
                        <br><small id="cot-error"></small>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <h4>Place of Residence<span>*</span></h4>
                <div class="input-box">
                    <input type="tel" placeholder="Enter Your Place of Residence" name="residence" class="name">
                    <i class="bx bx-home-alt icon"></i>
                </div>
                <br><small id="res-error"></small>
            </div>
            <div class="input-group">
                <h4>Nationality<span>*</span></h4>
                <div class="input-box">
                    <input type="tel" placeholder="Enter your Nationality here" name="nationality" class="name">
                    <i class="bx bx-globe icon"></i>
                </div>
                <br><small id="nat-error"></small>
            </div>
            <div id="border"></div>
            <div class="input-group">
                <div class="input-box">
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>

    </div>

    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file);
            }
        }
    </script>
    <script src="/Birimumaaso_Rogers_Tech_Assessment/public/js/regvalidate.js" async defer></script>
</body>

</html>